# Requirements.txt file is used to specify what dependencies are
# needed to for the package to run rather than for deployment of a tested set of
# packages.

####################
## For rainfall   ##
####################
ftputil
dnspython
psutil
#watchdog
requests
python-registry
#ftplib (doesn't exist?)

####################
## For astro      ##
####################
#opencv-python-headless
#numpy
#astroalign
#scikit-image
#argparse
